click==8.1.7
fastapi==0.115.6
fastapi-cli==0.0.6
grpcio==1.68.1
grpcio-reflection==1.68.1
grpcio-tools==1.68.1
h11==0.14.0
protobuf==5.29.2
pydantic==2.10.3
pydantic_core==2.27.1
pydantic-settings==2.7.0
python-dotenv==1.0.1
typing_extensions==4.12.2
uvicorn==0.33.0
